body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
}


/*------------------------------------------------------------------------*/
/* css from class */
.aligncenter {
  max-width: 50%;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  } 
}

#text {
    margin: 20px;
}
#img {
    margin: 20px;
}
