body {
    /*font-family: 'Assistant', sans-serif;*/
    font-family: 'Arimo', sans-serif;
    line-height: 1.5;
    margin: 0;
    background-color: black;
}

/* logo */
.logo {
    padding: 27px 0;
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
}

.logo p {
    margin: 7px;
    color: white;
}

.logo {
    font-size: 24px;
    margin: auto;
    display: table;
    text-align: center;
}

.logo img {
    display: block;
    margin: auto;
}

/* welcome */
.welcome .img img {
    max-width: 100%;
    width: auto;
    height: auto;
    background-color: white;
}

.welcome {
    background-size: cover;
    color: black;
    position: relative;
    text-align: center;
    font-size: 24px;

    margin: 0;
    background-color: white;
}

.welcome .container {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: black;
    max-width: 720px;
}

/* for all */
h1,
h2 {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 40px;
}

/* colors */
.grid {
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 34px;
    position: relative;
    background-color: black;
    padding: 20px;
    margin-top: 0px;
}

.grid img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.grid .text_right {
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
}

.grid .text_left {
    max-width: 350px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}


/* gallery */
.gallery_products {
    padding: 40px 0;
    text-align: center;
}

.titel_gallery {
    color: white;
    font-size: 5vh; 
    padding: 40px;
    
    display: inline;
}

.titel_gallery h3{
    width: 900px;
    margin: auto; 
    
    
    border-bottom: 3px solid white;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px  
}

.gallery img {
    display: block;
    margin: auto;
}

.desc {
    padding: 15px;    
    place-self: center;
}

.gallery .desc p {
    font-size: 5vh;
    
    font-size: 3vh;
    color: white;
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.gallery .desc {
    transition: .3s;
    
    margin-bottom: 30px;
}

.gallery .desc:hover {
    transform: scale(1.1);
}

.gallery img:hover {
    box-shadow: 10px 10px 10px 0 rgba(255, 255, 255, 0.4), 0 8px 20px 0 rgba(255, 255, 255, 0.4);
}

.gallery .desc:hover p{
    border-bottom: 2px solid white;
}

/*
div.desc {
    padding: 15px;
}
*/

/*
.g desc {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}
*/

/*
.g div {
    padding: 0;
    margin-bottom: 55px;
    transition: .3s;
}
*/

/*
.g div:hover {
    transform: scale(1.1);
}
*/


/* button */
.button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 16px;
    background: linear-gradient(to left, white 50%, black 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    border: 2px solid black;
}

.button a {
    text-decoration-line: none;
    color: black;
}

.button:hover a {
    color: white;
}

.button:hover {
    background-color: black;
    border-color: white;
    color: white;
    background-position: left;
}

/* contact */
.contact a {
    color: black;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.contact {
    background: #e0d9d0;
    padding: 40px;
    font-size: 24px;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
}

.contact a:hover {
    border-bottom: 5px solid black;
}

.contact .container {
    max-width: 900px;
    width: 40%;
    margin: auto;
}

.contact img {
    width: 5%;
    height: 5%;
}
